asyncio_redis==0.16.0
click==8.1.3
inquirer==3.1.2
motor==3.1.1
orjson==3.8.7
peewee==3.15.4
peewee_async==0.8.0
PyJWT==2.6.0
PyYAML==6.0
rich==13.3.1
sanic==22.9.1
sanic_ext==22.12.0
Sanic_WTF==0.6.0
WTForms==3.0.1
